@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap");

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
@layer components {
  .main-button {
    @apply rounded-2xl bg-secondary-color px-4 py-2 text-white transition duration-150 hover:bg-primary-color active:scale-105 active:drop-shadow-md;
  }
  .second-button {
    @apply rounded-2xl bg-white px-4 py-2 text-black transition duration-150 hover:bg-gray-100/50 active:scale-105 active:drop-shadow-md;
  }
  .main-select {
    @apply rounded-2xl bg-white px-4 py-2 text-black;
  }
  .success-button {
    @apply rounded-2xl bg-success-color px-4 py-2 text-white transition duration-150 hover:bg-success-color active:scale-105 active:drop-shadow-md;
  }
  .reject-button {
    @apply rounded-2xl bg-red-500 px-4 py-2 text-white transition duration-150 hover:bg-red-700 active:scale-105 active:drop-shadow-md disabled:cursor-not-allowed disabled:bg-red-300 disabled:opacity-60 disabled:active:scale-100;
  }
  .main-input {
    @apply rounded-2xl border px-4 py-2 outline-none hover:border-blue-500 focus:shadow-[0_0_0_0.2rem_rgba(191,219,254,1)];
  }
  .gradient-bg {
    @apply bg-gradient-to-r from-blue-500 to-sky-400;
  }
  .gradient-bg-success {
    @apply bg-gradient-to-r from-emerald-400 to-cyan-400;
  }
}
@layer utilities {
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }
  .animate-shake {
    animation: shake 0.5s ease-in-out;
  }
}

/* * {
  box-sizing: border-box;
  background: rgba(0, 100, 0, 0.1) !important;
} */

.p-password-input {
  width: 100%;
}

.gradient-shadow {
  background: rgb(97, 73, 205);
  background: -moz-linear-gradient(
    0deg,
    rgba(97, 73, 205, 1) 0%,
    rgba(97, 73, 205, 1) 7%,
    rgba(0, 212, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(97, 73, 205, 1) 0%,
    rgba(97, 73, 205, 1) 7%,
    rgba(0, 212, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(97, 73, 205, 1) 0%,
    rgba(97, 73, 205, 1) 7%,
    rgba(0, 212, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6149cd",endColorstr="#00d4ff",GradientType=1);
}

.hideScrollBar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hideScrollBar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.card-container {
  background: lightblue;
  cursor:
    url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      10 10,
    auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.card-deck {
  position: absolute;
  width: 400px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.card-deck > div {
  will-change: transform;
}
